<style type="text/css">
  code {
    font-size: 14px;
  }
  main {
    display: flex;
    flex-direction: row;
  }
  .preview {
    padding: 16px;
    width: 100%;
    color: <%= @comment_color %>;
    border: 0.5px dotted;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
  }
</style>

<header id="page-header">
  <h1>Lexers supported by Rouge v<%= Rouge.version %></h1>
</header>
<main>
  <% @samples.each do |sample| %>
    <section class="preview">
      <header class="section-header">
        <h2><a href="/<%= sample.tag %>"><%= sample.tag %></a></h2>
      </header>
      <%= Rouge.highlight(sample.demo, sample, @formatter) %>
    </section>
  <% end %>
</main>
