<style type="text/css">
  main {
    float: left;
    padding: 15px;
    width: calc(100% - 225px);
  }
  .legend {
    padding: 15px;
    padding-left: 0;
    float: right;
  }
</style>

<header id="page-header">
  <h1><%= @lexer.class.tag %> lexer visual test</h1>
</header>
<main>
  <header class="section-header"><h2>Highlighted</h2></header>
  <%= @highlighted %>

  <header class="section-header"><h2>Raw</h2></header>
  <pre><%= @raw %></pre>
</main>

<aside class="legend">
  <header class="section-header"><h2>Legend</h2></header>
  <pre class="codehilite">
<% Rouge::Token.each_token do |token|
  %><span class="<%= token.shortname %>"><%= token.qualname %></span>
<% end %>
  </pre>
</aside>
<div class="clearfix"></div>
